doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Site
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

    //- Link to Bootstrap CSS
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    //- Link to CoreUI CSS
    <link rel="stylesheet" href="/coreui/css/coreui.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/_theme.scss">
    
  body
    <div class="sidebar sidebar-white sidebar-fixed border-end" id="sidebar">

    <div class="sidebar-header border-bottom">
    <p>sidebar</p>
    <div class="sidebar-brand">
    </div>
    </div>
    </div>
    block content
